{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "jsonld/organization" . }}

<div class="taxonomy-hero strip-primary">
  <div class="container py-3">
    <div class="row">
      <div class="col align-self-center">
        <h1 class="text-white">{{ .Params.heroHeading }}</h1>
        <p class="text-white">{{ .Params.heroSubHeading }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container pt-4 pt-md-10">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="services service-single">
        <section class="section-main">
          <ul class="list-group">
            <li class="list-group-item border border-dark my-1">
              <h4>Q. KINCHAKUはどんなサービスですか？</h4>
              <p>A. KINCHAKUは、顧客の心をつかむ機能を使って、リピーター育成を可能にするサービスです。</p>
            </li>
            <li class="list-group-item border border-dark my-1">
              <h4>Q. アカウント登録に費用はかかりますか？</h4>
              <p>A. いいえ、どの料金プランもアカウント登録は無料で行っていただけます。</p>
            </li>
            <li class="list-group-item border border-dark my-1">
              <h4>Q. 料金プランを教えてください。</h4>
              <p>A. 無料からはじめられる3つのプランをご用意しております。</p>
              <p>&emsp;詳しいプラン内容は<a href="/pricing/">こちら</a>をご覧ください。</p>
            </li>
            <li class="list-group-item border border-dark my-1">
              <h4>Q. 発行できるパスの種類を教えてください。</h4>
              <p>A. スタンプカード、クーポン、イベントチケット、引換券、回数券、会員証、サブスクリプションのパスを発行できます。</p>
            </li>
            <li class="list-group-item border border-dark my-1">
              <h4>Q. アプリはどのように使うのでしょうか？</h4>
              <p>A. 「KINCHAKU」スキャンアプリをインストールしていただくとご利用可能です。<br>アプリでスタンプを付与したり履歴を確認することができます。</p>
              <p>&emsp;詳しい使い方は<a href="/manual//mobile-app/">マニュアル</a>をご覧ください。</p>
            </li>
            <li class="list-group-item border border-dark my-1">
              <h4>Q. 通知は誰にでも送れますか？</h4>
              <p>A. パスをインストールしていただいてる方に対して送ることができます。</p>
            </li>
          </ul>

          <div class="col-12 text-center mt-2 my-0">
            <a href="https://tayori.com/faq/6d47a665500c238f979f9234a45e505865f53b8b/"  target="_blank" rel="noopener noreferrer">その他のQ&Aはこちら</a>
          </div>

          <div class="col-12 text-center my-3">
            <a href="/contact/" class="btn btn-secondary btn-lg my-4" title="お問い合わせ">お問い合わせ</a>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}
{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
{{ end }}
{{ end }}