{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-single{{ end }}
{{ define "header_classes" }}{{ end }}
{{ define "meta_tags" }}
<meta name="description" content="{{ .Params.description }}" />
<meta property="og:title" content="{{ .Params.heroHeading }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Params.description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ with .Site.Params.googlever.id }}
<meta name="google-site-verification" content="{{ . }}" />
{{ end }}

{{ with .Site.Params.facebook.appid }}
<meta property="fb:app_id" content="{{ . }}" />
{{ end }}

{{ with .Site.Language }}
<meta property="og:locale" content="{{ .Lang }}" />
{{ end }}

{{ end }}

{{ define "main" }}

<div class="taxonomy-hero strip-primary">
  <div class="container py-3">
    <div class="row">
      <div class="col align-self-center">
        <h1 class="text-white">{{ .Params.heroHeading }}</h1>
        <p class="text-white">{{ .Params.heroSubHeading }}</p>
      </div>
    </div>
  </div>
</div>
<div class="container pt-4 pt-md-10 pb-4 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <div class="service service-single">
        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "Table",
            "about": "{{ .Title }}"
          }

        </script>
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</div>
{{ partial "cta-section.html" . }}
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}
{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
{{ end }}
{{ end }}