{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-single{{ end }}
{{ define "header_classes" }}{{ end }}
{{ define "meta_tags" }}
<meta name="description" content="{{ .Params.description }}" />
<meta property="og:title" content="{{ .Params.heroHeading }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Params.description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ with .Site.Params.googlever.id }}
<meta name="google-site-verification" content="{{ . }}" />
{{ end }}

{{ with .Site.Params.facebook.appid }}
<meta property="fb:app_id" content="{{ . }}" />
{{ end }}

{{ with .Site.Language }}
<meta property="og:locale" content="{{ .Lang }}" />
{{ end }}

{{ end }}

{{ define "main" }}
{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "section" .Section "content" .)}}
<div class="container pt-4 pt-md-10 pb-4 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <div class="service service-single">
        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "Table",
            "about": "{{ .Title }}"
          }

        </script>
        <div class="content">
          <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-4 mb-3">
              <div class="card">
                <div class="card-title bg-secondary p-2">
                  <h3 class="h2 text-center text-white mb-0">STARTER</h3>
                </div>
                <div class="card-body">
                  <div class="text-center mb-3">
                    <span class="display-4 text-uppercase text-primary">FREE</span>
                    <small class="text-muted d-block text-capitalize">no subscription fee</small>
                  </div>
                  <div class="card-text">
                    <table width="100%" class="">
                      <tbody>
                        <tr>
                          <td colspan="2">
                            <h4 class="text-muted text-center">
                              <span class="text-capitalize">Redemption Fee / Per Pass</span>
                            </h4>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            stamp card
                          </td>
                          <td class="text-right">
                            0¥
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            coupon
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            voucher
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            event ticket
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            membership card
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            subscription pass
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <h4 class="text-muted text-center mt-3">
                              <span class="text-capitalize">
                                option
                              </span>
                            </h4>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>
                              Location Triggered Notification
                            </span>
                          </td>
                          <td class="text-right">
                            1
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              custom notification
                            </span>
                          </td>
                          <td class="text-right">
                            20円
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              payment processing fee
                            </span>
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              number of team members
                            </span>
                          </td>
                          <td class="text-right">
                            2
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              data import
                            </span>
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            data export
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            pass mailer
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="first-capitalize">
                            Additional Point of Scan
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>
                              iBeacon Triggered Notification
                            </span>
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 mb-3">
              <div class="card">
                <div class="card-title bg-secondary p-2">
                  <h3 class="h2 text-center text-white mb-0">STANDARD</h3>
                </div>
                <div class="card-body">
                  <div class="card-text">
                    <div class="text-center mb-3">
                      <span class="display-4 text-uppercase text-primary">free</span>
                      <small class="text-muted d-block text-capitalize">no subscription fee</small>
                    </div>
                    <table width="100%" class="">
                      <tbody>
                        <tr>
                          <td colspan="2">
                            <h4 class="text-muted text-center">
                              <span class="text-capitalize">
                                redemption fee / per pass
                              </span>
                            </h4>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            stamp card
                          </td>
                          <td class="text-right">
                            ¥0
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            coupon
                          </td>
                          <td class="text-right">
                            ¥20
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            voucher
                          </td>
                          <td class="text-right">
                            ¥20
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            event ticket
                          </td>
                          <td class="text-right">
                            ¥20
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            membership card
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            subscription pass
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <h4 class="text-muted text-center mt-3">
                              <span class="text-capitalize">
                                option
                              </span>
                            </h4>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>
                              location triggered notification
                            </span>
                          </td>
                          <td class="text-right">
                            1
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              custom notification (per unit)
                            </span>
                          </td>
                          <td class="text-right">
                            ¥20
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              payment processing fee
                            </span>
                          </td>
                          <td class="text-right">
                            0.9%
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              number of team members
                            </span>
                          </td>
                          <td class="text-right">
                            5
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              data import
                            </span>
                          </td>
                          <td class="text-right">
                            <i class="text-info zmdi zmdi-check"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            data export
                          </td>
                          <td class="text-right">
                            <i class="text-info zmdi zmdi-check"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            pass mailer
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            add. point of scan / per month
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>
                              iBeacon Triggered Notification
                            </span>
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <div class="card">
                <div class="card-title bg-secondary p-2">
                  <h3 class="h2 text-center text-white mb-0">PRO</h3>
                </div>
                <div class="card-body">
                  <div class="card-text">
                    <div class="text-center mb-3">
                      <span class="display-4 text-uppercase text-primary">288,000¥</span>
                      <small class="text-muted d-block text-capitalize">annual subscription</small>
                    </div>
                    <table width="100%" class="">
                      <tbody>
                        <tr>
                          <td colspan="2">
                            <h4 class="text-muted text-center">
                              <span class="text-capitalize">
                                redemption fee / per pass
                              </span>
                            </h4>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            stamp card
                          </td>
                          <td class="text-right">
                            ¥0
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            coupon
                          </td>
                          <td class="text-right">
                            ¥0
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            ¥0
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            event ticket
                          </td>
                          <td class="text-right">
                            ¥0
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            membership card
                          </td>
                          <td class="text-right">
                            ¥0
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            subscription pass
                          </td>
                          <td class="text-right">
                            ¥0
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <h4 class="text-muted text-center mt-3">
                              <span class="text-capitalize">
                                option
                              </span>
                            </h4>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              location triggered notification
                            </span>
                          </td>
                          <td class="text-right">
                            10
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              custom notification / per unit
                            </span>
                          </td>
                          <td class="text-right">
                            ¥0
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              payment processing fee
                            </span>
                          </td>
                          <td class="text-right">
                            0.3%
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              number of team members
                            </span>
                          </td>
                          <td class="text-right">
                            unlimited
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              data import
                            </span>
                          </td>
                          <td class="text-right">
                            <i class="text-info zmdi zmdi-check"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            data export
                          </td>
                          <td class="text-right">
                            <i class="text-info zmdi zmdi-check"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            pass mailer / per batch
                          </td>
                          <td class="text-right">
                            ¥10
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            add. point of scan / per month
                          </td>
                          <td class="text-right">
                            ¥10,000
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>
                              iBeacon Triggered Notification
                            </span>
                          </td>
                          <td class="text-right">
                            10
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="strip bg-primary bg-cover bg-position-top bg-overlay">
  <div class="container pt-8 pb-8 pb-md-12 ">
    <div class="row justify-content-center">
      <div class="col-12 text-center text-white">
        <h3 class="mb-3">Get started today. <br>No credit card required. Cancel anytime.</h3>
        <a class="button button-white mb-0" href="https://app.kinchaku.com/signup"
          title="{{ .Params.heroSubHeading }}">Try for free</a>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}
{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
{{ end }}
{{ end }}