{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-single{{ end }}
{{ define "header_classes" }}{{ end }}
{{ define "meta_tags" }}
<meta name="description" content="{{ .Params.description }}" />
<meta property="og:title" content="{{ .Params.heroHeading }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Params.description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ with .Site.Params.googlever.id }}
<meta name="google-site-verification" content="{{ . }}" />
{{ end }}

{{ with .Site.Params.facebook.appid }}
<meta property="fb:app_id" content="{{ . }}" />
{{ end }}

{{ with .Site.Language }}
<meta property="og:locale" content="{{ .Lang }}" />
{{ end }}

{{ end }}

{{ define "main" }}

<div class="taxonomy-hero strip-primary">
  <div class="container py-3">
    <div class="row">
      <div class="col align-self-center">
        <h1 class="text-white">{{ .Params.heroHeading }}</h1>
        <p class="text-white">{{ .Params.heroSubHeading }}</p>
      </div>
    </div>
  </div>
</div>
<div class="container pt-4 pt-md-10 pb-4 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <div class="service service-single">
        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "Table",
            "about": "{{ .Title }}"
          }

        </script>
        <div class="content">
          <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-4 mb-3">
              <div class="card">
                <div class="card-title bg-secondary p-2">
                  <h3 class="h2 text-center text-white mb-0">STARTER</h3>
                </div>
                <div class="card-body">
                  <div class="text-center mb-3">
                    <span class="display-4 text-uppercase text-primary">無料</span>
                    <small class="text-muted d-block text-capitalize">申し込み手数料なし</small>
                  </div>
                  <div class="card-text">
                    <table width="100%" class="">
                      <tbody>
                        <tr>
                          <td colspan="2">
                            <h4 class="text-muted text-center">
                              <span class="text-capitalize">
                                パス消し込み手数料
                              </span>
                              &#47;
                              <span class="text-capitalize">
                                1パス
                              </span>
                            </h4>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            スタンプカード
                          </td>
                          <td class="text-right">
                            <span class="text-info">無料</span>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            クーポン
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            引換券
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            イベントチケット
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            会員証
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            サブスクリプションパス
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <h4 class="text-muted text-center mt-3">
                              <span class="text-capitalize">
                                オプション
                              </span>
                            </h4>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>
                              位置情報による通知
                            </span>
                          </td>
                          <td class="text-right">
                            1
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              カスタム通知、１回/1日
                            </span>
                          </td>
                          <td class="text-right">
                            20円
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              決済手数料
                            </span>
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              チームメンバー数
                            </span>
                          </td>
                          <td class="text-right">
                            2
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              データ読み込み
                            </span>
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            データ書き出し
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            パスメーラー
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="first-capitalize">
                            追加のスキャンスポット
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>
                              iBeaconによるパス通知
                            </span>
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 mb-3">
              <div class="card">
                <div class="card-title bg-secondary p-2">
                  <h3 class="h2 text-center text-white mb-0">STANDARD</h3>
                </div>
                <div class="card-body">
                  <div class="card-text">
                    <div class="text-center mb-3">
                      <span class="display-4 text-uppercase text-primary">無料</span>
                      <small class="text-muted d-block text-capitalize">申し込み手数料なし</small>
                    </div>
                    <table width="100%" class="">
                      <tbody>
                        <tr>
                          <td colspan="2">
                            <h4 class="text-muted text-center">
                              <span class="text-capitalize">
                                パス消し込み手数料
                              </span>
                              &#47;
                              <span class="text-capitalize">
                                1パス
                              </span>
                            </h4>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            スタンプカード
                          </td>
                          <td class="text-right">
                            <span class="text-info">無料</span>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            クーポン
                          </td>
                          <td class="text-right">
                            20円
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            引換券
                          </td>
                          <td class="text-right">
                            20円
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            イベント・チケット
                          </td>
                          <td class="text-right">
                            20円
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            会員証
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            サブスクリプションパス
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <h4 class="text-muted text-center mt-3">
                              <span class="text-capitalize">
                                オプション
                              </span>
                            </h4>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>
                              位置情報によるパス通知
                            </span>
                          </td>
                          <td class="text-right">
                            1
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              カスタムパス通知
                            </span>
                          </td>
                          <td class="text-right">
                            20円
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              決済手数料
                            </span>
                          </td>
                          <td class="text-right">
                            0.9%
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              チームメンバー数
                            </span>
                          </td>
                          <td class="text-right">
                            2
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              データ読み込み
                            </span>
                          </td>
                          <td class="text-right">
                            <i class="text-info zmdi zmdi-check"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            データ書き出し
                          </td>
                          <td class="text-right">
                            <i class="text-info zmdi zmdi-check"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            パスメーラー
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="first-capitalize">
                            加のスキャンスポット
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>
                              iBeaconによるパス通知
                            </span>
                          </td>
                          <td class="text-right">
                            <i class="text-danger zmdi zmdi-close"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <div class="card">
                <div class="card-title bg-secondary p-2">
                  <h3 class="h2 text-center text-white mb-0">PRO</h3>
                </div>
                <div class="card-body">
                  <div class="card-text">
                    <div class="text-center mb-3">
                      <span class="display-4 text-uppercase text-primary">288,000円</span>
                      <small class="text-muted d-block text-capitalize">年間サブスクリプション</small>
                    </div>
                    <table width="100%" class="">
                      <tbody>
                        <tr>
                          <td colspan="2">
                            <h4 class="text-muted text-center">
                              <span class="text-capitalize">
                                パス消し込み手数料
                              </span>
                              &#47;
                              <span class="text-capitalize">
                                1パス
                              </span>
                            </h4>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            スタンプカード
                          </td>
                          <td class="text-right">
                            <span class="text-info"><span class="text-info">無料</span>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            クーポン
                          </td>
                          <td class="text-right">
                            <span class="text-info">無料</span>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            引換券
                          </td>
                          <td class="text-right">
                            <span class="text-info">無料</span>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            イベントチケット
                          </td>
                          <td class="text-right">
                            <span class="text-info">無料</span>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            会員証
                          </td>
                          <td class="text-right">
                            <span class="text-info">無料</span>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            サブスクリプションパス
                          </td>
                          <td class="text-right">
                            <span class="text-info">無料</span>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <h4 class="text-muted text-center mt-3">
                              <span class="text-capitalize">
                                オプション
                              </span>
                            </h4>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>
                              位置情報によるパス通知
                            </span>
                          </td>
                          <td class="text-right">
                            10
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              カスタムパス通知、１回/1日
                            </span>
                          </td>
                          <td class="text-right">
                            <span class="text-info">無料</span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              決済手数料
                            </span>
                          </td>
                          <td class="text-right">
                            0.3%
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              チームメンバー数
                            </span>
                          </td>
                          <td class="text-right">
                            無制限
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="text-capitalize">
                              データ読み込み
                            </span>
                          </td>
                          <td class="text-right">
                            <i class="text-info zmdi zmdi-check"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            データ書き出し
                          </td>
                          <td class="text-right">
                            <i class="text-info zmdi zmdi-check"></i>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-capitalize">
                            パスメーラー/ １回の送信あたり
                          </td>
                          <td class="text-right">
                            10円
                          </td>
                        </tr>
                        <tr>
                          <td class="first-capitalize">
                            追加のスキャンスポット/１ヶ月
                          </td>
                          <td class="text-right">
                            10,000円
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>
                              iBeaconによるパス通知
                            </span>
                          </td>
                          <td class="text-right">
                            10
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</div>
{{ partial "cta-section.html" . }}
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}
{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
{{ end }}
{{ end }}