<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebApplication",
        "@id": "kinchaku",
        "applicationCategory": "BusinessApplication",
        "name": "KINCHAKU",
        "operatingSystem": "all",
        "browserRequirements": "Requires Javascript and HTML5 support",
        "url": "https://kinchaku.com",
        "screenshot": "https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/interface-screenshot.png",
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "5",
            "reviewCount": "1"
        },
        "offers": {
            "@type": "AggregateOffer",
            "offeredBy": {
                "@type": "Organization",
                "name":"株式会社KINCHAKU"
            },
            "highPrice": "288000",
            "lowPrice": "0",
            "offerCount": "unlimited",
            "priceCurrency": "JPY",
            "priceSpecification": [
                {
                    "@type": "UnitPriceSpecification",
                    "price": "0",
                    "priceCurrency": "JPY",
                    "name": "Starter Plan"
                },
                {
                    "@type": "UnitPriceSpecification",
                    "price": "288000",
                    "priceCurrency": "JPY",
                    "name": "年次サブスクリプション",
                    "referenceQuantity": {
                        "@type": "QuantitativeValue",
                        "value": "1",
                        "unitCode": "ANN"
                    }
                },
                {
                    "@type": "UnitPriceSpecification",
                    "price": "30000",
                    "priceCurrency": "JPY",
                    "name": "月次サブスクリプション",
                    "referenceQuantity": {
                        "@type": "QuantitativeValue",
                        "value": "1",
                        "unitCode": "MON"
                    }
                }
            ]
        },
        "creator": {
            "@type":"Corporation",
            "@id":"kinchaku",
            "url":"https://kinchaku.com/about/",
            "name":"KINCHAKU",
            "logo":{
            "@type":"ImageObject",
            "url":"https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/kinchaku_square.png",
            "width":"200",
            "height":"200"
            }
        }
    }
</script>