.recent-post {
    display: block;
    margin-bottom: 4rem;
}

.recent-post-img {
    height: 240px;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    display: block;
    margin-bottom: 1.5rem;
    object-fit: cover;
}
