{{ define "main" }}
<div class="container pt-10 pt-md-10 pb-4 pb-md-10">
  <div class="row">
    <div class="col-12">
      <div style="text-align: center;">
        <img class="img-fluid" src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/404.svg" alt="404" title="404" width="80%" height="80%" />
      </div>
      <h1 class="text-center m-1" style="color: #f44336;">探しているページが見つかりませんでした</h1>
    </div>
  </div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}
{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
{{ end }}
{{ end }}
