<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ if .Site.IsServer }}
  {{ partial "analytics-dev.html" . }}
  {{ else }}
  {{ partial "analytics-prod.html" . }}
  {{ end }}

  {{ if and (eq .Kind "taxonomy") (eq .Type "categories") }}
  <meta name="robots" content="noindex, follow" />
  {{ else }}
  <meta name="robots" content="index, follow" />
  {{ end }}

  {{ partial "meta-tags.html" . }}

  {{ if or (eq .Kind "home") (eq .Kind "page") }}
  {{ if isset .Params "canonical" }}
  <link rel="canonical" href="{{ .Params.Canonical }}" />
  {{ else }}
  <link rel="canonical" href="{{ .Permalink }}" />
  {{ end }}
  {{ end }}

  {{ if .Site.IsServer }}
  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
  <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
  {{ else }}
  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
  <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
  {{ end }}

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  {{ block "header_css" . }}{{ end }}
</head>

<body class="page {{ block "body_classes" . }}{{ end }}">
  {{ partial "main-menu-mobile.html" . }}
  <div id="wrapper" class="wrapper">
    {{ partial "header.html" . }}
    {{ block "main" . }}
    {{ end }}
  </div>

  {{ partial "footer.html" . }}
  {{ partial "sub-footer.html" . }}

  {{ $scripts := resources.Get "js/scripts.js" }}

  {{ block "footer_js" . }}
  {{ end }}

  {{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $scripts.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($scripts | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
</body>

</html>
