<div class="bg-light">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-5 order-md-1">
        <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/features-page/digital-pass.png" alt="デジタルパス発行" width="100%" />
      </div>
      <div class="col-12 col-md-5 offset-md-2 order-md-2 p-3">
        <h2 class="heading-2 my-2">デジタルパス発行</h2>
        <p>
          様々な種類のパスを発行できます。<br>お客さまの来店を促進し、リピーター獲得やロイヤルカスタマーの創出につながります。<br>紙のカードの作成費の削減にもなり、お客さまはQRコードを読み取りスマホに入れるだけなので失くす心配もありません。
        </p>
        <ul class="text-muted">
          <li>・スタンプカード・割引券・会員証・チケット</li>
          <li>・引換券・回数券・サブスクリプションパス</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row py-3">
    <div class="col-12 col-md-5 order-md-2 offset-md-2">
      <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/features-page/scan-app.png" alt="スキャンアプリ" width="100%" />
    </div>
    <div class="col-12 col-md-5 order-md-1 p-3">
      <h2 class="heading-2 my-2">スキャンアプリ</h2>
      <p>
        お客さまのパスを読み込み、スタンプを付与したり、チケットの回収を行う際に使用します。
      </p>
      <p>
        <a href="/features/mobile-app/" title="KINCHAKUアプリ">KINCHAKUアプリ詳細はこちら</a>
      </p>
      <ul class="text-muted">
        <li>・iOS、Android対応</li>
        <li>・アプリ開発、不要</li>
        <li>・利用履歴確認</li>
      </ul>
    </div>
  </div>
</div>

<div class="bg-light">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-5 order-md-1 my-5">
        <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/features-page/pass-distribution.png" alt="多様な配布" width="100%"/>
      </div>
      <div class="col-12 col-md-5 offset-md-2 order-md-2 p-3">
        <h2 class="heading-2 my-2">多様な配布手段</h2>
        <p>
          発行したデジタルパスは、配布用のURLをSNSや独自のWebサイトに貼り付けることでオンラインでも配布できます。
        </p>
        <ul class="text-muted">
          <li>・QRコード</li>
          <li>・URL</li>
          <li>・ウィジェット</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row py-3">
    <div class="col-12 col-md-5 order-md-2 offset-md-2 my-5">
      <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/pc-data.png" alt="データの可視化" width="100%" />
    </div>
    <div class="col-12 col-md-5 order-md-1 p-3">
      <h2 class="heading-2 my-2">データの可視化</h2>
      <p>
        管理画面では、お客さまの利用履歴や来店頻度を確認することができます。<br>そのデータを元にさらなる集客や新しい施策に活かすことが可能です。
      </p>
      <ul class="text-muted">
        <li>・お客さま情報（顧客管理）</li>
        <li>・購入履歴</li>
        <li>・売上管理</li>
      </ul>
    </div>
  </div>
</div>

<div class="bg-light">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-5 order-md-1 my-5">
        <img src="https://s3-ap-northeast-1.amazonaws.com/kinchaku-static-site/uploads/voucher_notification_2_20200805.jpg" alt="ロケーション通知" width="100%" />
      </div>
      <div class="col-12 col-md-5 offset-md-2 order-md-2 p-3">
        <h2 class="heading-2 my-2">ロケーション通知</h2>
        <p>
          指定した場所（店舗住所）から約半径100メートル内にパスをお持ちのお客さまが来られたら、予め設定している通知がスマホに表示されます。<br>店舗の近くまで来られたお客さまに即時性のあるリーチが可能です。
        </p>
        <ul class="text-muted">
          <li>・通知文章設定</li>
          <li>・住所指定</li>
          <li>・メッセージ</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row py-3">
    <div class="col-12 col-md-5 order-md-2 offset-md-2">
      <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/ibeacon.png" alt="iBeacon通知" width="100%" />
    </div>
    <div class="col-12 col-md-5 order-md-1 p-3">
      <h2 class="heading-2 my-2">iBeacon通知</h2>
      <p>
        ビーコン端末を設置した店舗で、超近距離の通知が送信できます。<br>KINCHAKUアプリがビーコン端末の代わりにもなります。
      </p>
      <ul class="text-muted">
        <li>・店内限定クーポン</li>
        <li>・iOSのみ対応</li>
        <li>・メッセージ</li>
      </ul>
    </div>
  </div>
</div>

<div class="bg-light">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-5 order-md-1 my-5">
        <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/features-page/custom-notifications.png" alt="カスタム通知" width="100%" />
      </div>
      <div class="col-12 col-md-5 offset-md-2 order-md-2 p-3">
        <h2 class="heading-2 my-2">カスタム通知</h2>
        <p>
          お客さまのスマホに通知を送ることができます。<br>通知を送る日程・時間・メッセージの内容を予約しておくことで、該当する日時になると自動で送信することも可能です。
        </p>
        <ul class="text-muted">
          <li>・新着情報</li>
          <li>・SALE情報</li>
          <li>・クーポン</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row py-3">
    <div class="col-12 col-md-5 order-md-2 offset-md-2 my-5">
      <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/features-page/design-customization.png" alt="デザインカスタマイズ" width="100%" class="border border-gray p-1" />
    </div>
    <div class="col-12 col-md-5 order-md-1 p-3">
      <h2 class="heading-2 my-2">デザイン</h2>
      <p>
        紙のカードと違って、パスのデザインを何度でも自由に変更することができます。<br>お店のイメージカラーに合わせたり、ロゴを追加することも可能です。
      </p>
      <ul class="text-muted">
        <li>・背景色、文字色</li>
        <li>・ロゴ</li>
        <li>・アイコン</li>
      </ul>
    </div>
  </div>
</div>

<div class="bg-light">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-5 order-md-1 my-5">
        <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/features-page/data-collection.png" alt="データコレクション" width="100%" />
        </div>
        <div class="col-12 col-md-5 offset-md-2 order-md-2 p-3">
          <h2 class="heading-2 my-2">データコレクション</h2>
          <p>
            お客さまのデータを収集することができます。<br>知りたいデータのみを自由にカスタマイズできます。<br>収集したデータを元に集客や顧客管理に活かすこともできます。
          </p>
          <ul class="text-muted">
            <li>・氏名</li>
            <li>・メールアドレス</li>
            <li>・誕生日 など</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>