<div class="row m-2">
  <div class="col-md-2 col-4 my-1">
    <div class="card">
      <a href="/features/#feature1" style="text-decoration:none;">
        <div class="card-body d-flex align-items-center justify-content-center">
          <p class="card-title mb-0">デジタルパス発行</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2 col-4 my-1">
    <div class="card">
      <a href="/features/#feature2" style="text-decoration:none;">
        <div class="card-body d-flex align-items-center justify-content-center">
          <p class="card-title mb-0">スキャンアプリ</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2 col-4 my-1">
    <div class="card">
      <a href="/features/#feature3" style="text-decoration:none;">
        <div class="card-body d-flex align-items-center justify-content-center">
          <p class="card-title mb-0">多様な配布方法</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2 col-4 my-1">
    <div class="card">
      <a href="/features/#feature4" style="text-decoration:none;">
        <div class="card-body d-flex align-items-center justify-content-center">
          <p class="card-title mb-0">データの可視化</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2 col-4 my-1">
    <div class="card">
      <a href="/features/#feature5" style="text-decoration:none;">
        <div class="card-body d-flex align-items-center justify-content-center">
          <p class="card-title mb-0">カスタム通知</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2 col-4 my-1">
    <div class="card">
      <a href="/features/#feature6" style="text-decoration:none;">
        <div class="card-body d-flex align-items-center justify-content-center">
          <p class="card-title mb-0">手厚いサポート</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2 col-4 my-1">
    <div class="card">
      <a href="/features/#feature7" style="text-decoration:none;">
        <div class="card-body d-flex align-items-center justify-content-center">
          <p class="card-title mb-0">データコレクション</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2 col-4 my-1">
    <div class="card">
      <a href="/features/#feature8" style="text-decoration:none;">
        <div class="card-body d-flex align-items-center justify-content-center">
          <p class="card-title mb-0">デザインカスタマイズ</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2 col-4 my-1">
    <div class="card">
      <a href="/features/#feature9" style="text-decoration:none;">
        <div class="card-body d-flex align-items-center justify-content-center">
          <p class="card-title mb-0">ロケーション通知</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2 col-4 my-1">
    <div class="card">
      <a href="/features/#feature10" style="text-decoration:none;">
        <div class="card-body d-flex align-items-center justify-content-center">
          <p class="card-title mb-0">iBeacon通知</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2 col-4 my-1">
    <div class="card">
      <a href="/features/#feature11" style="text-decoration:none;">
        <div class="card-body d-flex align-items-center justify-content-center">
          <p class="card-title mb-0">回数券</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-2 col-4 my-1">
    <div class="card">
      <a href="/features/#feature12" style="text-decoration:none;">
        <div class="card-body d-flex align-items-center justify-content-center">
          <p class="card-title mb-0">顧客管理</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="bg-light" id="feature1">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-5 order-md-1">
        <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/digital-pass.png" alt="デジタルパス発行" width="100%" height="100%" />
      </div>
      <div class="col-12 col-md-5 offset-md-2 order-md-2 p-3">
        <h2 class="heading-2 my-2">デジタルパス発行</h2>
        <p>
          様々な種類のパスを発行できます。<br>お客さまの来店を促進し、カード作成費のコスト削減につながります。<br>QRコードを読み取りスマホに入れるだけなので無くす心配がありません。
        </p>
        <ul class="text-muted">
          <li>・スタンプカード・クーポン・会員証・引換券</li>
          <li>・イベントチケット・サブスクリプション</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="feature2">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-5 order-md-2 offset-md-2">
        <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/features-page/scan-app.png" alt="スキャンアプリ" width="100%" height="100%" />
      </div>
      <div class="col-12 col-md-5 order-md-1 p-3">
        <h2 class="heading-2 my-2">スキャンアプリ</h2>
        <p>
          お客さまのパスを読み込み、スタンプを付与したり、イベントチケットの回収を行う際に使用します。
        </p>
        <ul class="text-muted">
          <li>・iOS、Android対応</li>
          <li>・アプリ開発、不必要</li>
          <li>・QRコード表示</li>
          <li>・利用履歴確認</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-light" id="feature3">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-5 order-md-1">
        <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/features-page/pass-distribution.png" alt="多様な配布" width="100%" height="100%"/>
      </div>
      <div class="col-12 col-md-5 offset-md-2 order-md-2 p-3">
        <h2 class="heading-2 my-2">多様な配布</h2>
        <p>
          配布用のURLをSNSや独自のHPに貼り付けることでオンラインでも配布できます。
        </p>
        <ul class="text-muted">
          <li>・QRコード</li>
          <li>・URL</li>
          <li>・ウィジェット</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="feature4">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-5 order-md-2 offset-md-2">
        <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/pc-data.png" alt="データの可視化" width="100%" height="100%" />
      </div>
      <div class="col-12 col-md-5 order-md-1 p-3">
        <h2 class="heading-2 my-2">データの可視化</h2>
        <p>
          お客さまの利用履歴や来店頻度を確認することができます。<br>そのデータを元に集客や新しい施策に活かすことが可能です。
        </p>
        <ul class="text-muted">
          <li>・お客さま情報</li>
          <li>・購入履歴</li>
          <li>・売上管理</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-light" id="feature5">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-5 order-md-1">
        <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/features-page/custom-notifications.png" alt="カスタム通知" width="100%" height="100%" />
      </div>
      <div class="col-12 col-md-5 offset-md-2 order-md-2 p-3">
        <h2 class="heading-2 my-2">カスタム通知</h2>
        <p>
          お客さまのスマホのロック画面に通知を送れることができます。<br>あらかじめ、通知を送る日程・時間・メッセージの内容を予約して、該当する日時になると自動で送信することも可能です。
        </p>
        <ul class="text-muted">
          <li>・新着情報</li>
          <li>・SALE情報</li>
          <li>・クーポン</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="feature6">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 order-md-2 offset-md-2">
        <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/support.png" alt="手厚いサポート" width="100%" height="100%"/>
      </div>
      <div class="col-12 col-md-5 order-md-1 p-3">
        <h2 class="heading-2 my-2">手厚いサポート</h2>
        <p>
          充実したサポート対応を致します。<br>KINCHAKUについてのご不明点やご質問等ありましたらお気軽にご相談ください。
        </p>
        <a href="/contact/">ご相談はこちら</a>
      </div>
    </div>
  </div>
</div>

<div class="bg-light" id="feature7">
<div class="container">
  <div class="row py-3">
    <div class="col-12 col-md-5 order-md-1">
      <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/features-page/data-collection.png" alt="データコレクション" width="100%" height="100%"/>
      </div>
      <div class="col-12 col-md-5 offset-md-2 order-md-2 p-3">
        <h2 class="heading-2 my-2">データコレクション</h2>
        <p>
          お客さまのデータを収集することができます。<br>知りたいデータのみ項目を自由にカスタマイズできます。<br>収集したデータを元に集客や顧客管理に活かすこともできます。
        </p>
        <ul class="text-muted">
          <li>・氏名</li>
          <li>・メールアドレス</li>
          <li>・誕生日</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="feature8">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-5 order-md-2 offset-md-2">
        <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/features-page/design-customization.png" alt="デザインカスタマイズ" width="100%" height="100%" />
      </div>
      <div class="col-12 col-md-5 order-md-1 p-3">
        <h2 class="heading-2 my-2">デザインカスタマイズ</h2>
        <p>
          紙のカードと違って、パスのデザインを何度でも自由に変更することができます。<br>お店のイメージカラーに合わせたり、ロゴを追加することも可能です。
        </p>
        <ul class="text-muted">
          <li>・背景色、文字色</li>
          <li>・ロゴ</li>
          <li>・アイコン</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-light" id="feature9">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-5 order-md-1">
        <img src="https://s3-ap-northeast-1.amazonaws.com/kinchaku-static-site/uploads/voucher_notification_2_20200805.jpg" alt="ロケーション通知" width="100%" height="100%" />
      </div>
      <div class="col-12 col-md-5 offset-md-2 order-md-2 p-3">
        <h2 class="heading-2 my-2">ロケーション通知</h2>
        <p>
          指定した場所（店舗住所）から約半径100メートル内にパスをお持ちのお客さまが来られたら、予め設定している通知がスマホのロック画面に表示されます。<br>店舗の近くまで来られたお客さまに即時性のあるリーチが可能です。
        </p>
        <ul class="text-muted">
          <li>・通知文章設定</li>
          <li>・住所指定</li>
          <li>・メッセージ</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="feature10">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-5 order-md-2 offset-md-2">
        <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/ibeacon.png" alt="iBeacon通知" width="100%" height="100%" />
      </div>
      <div class="col-12 col-md-5 order-md-1 p-3">
        <h2 class="heading-2 my-2">iBeacon通知</h2>
        <p>
          ビーコン端末を設置した店舗で、超近距離の通知が送信できます。<br>KINCHAKUアプリがビーコン端末の代わりにもなります。
        </p>
        <ul class="text-muted">
          <li>・店内限定クーポン</li>
          <li>・iOSのみ対応</li>
          <li>・メッセージ</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-light" id="feature11">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-5 order-md-1">
        <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/kaisuken.png" alt="回数券" width="100%" height="100%" />
      </div>
      <div class="col-12 col-md-5 offset-md-2 order-md-2 p-3">
        <h2 class="heading-2 my-2">回数券</h2>
        <p>
          継続的に利用していただいている感謝の気持ちとしてお客様に+αの特典を提供できます。<br>お客さまはスマホの画面をみせるだけでチケット感覚で気軽につかえます。
        </p>
        <ul class="text-muted">
          <li>・お客さまのリピート・ファン化</li>
          <li>・都度払いの手間を無くす</li>
          <li>・利用履歴管理</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="feature12">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-5 order-md-2 offset-md-2">
        <img src="https://s3-ap-northeast-1.amazonaws.com/kinchaku-static-site/uploads/event-dashboard.png" alt="顧客管理" width="100%" height="100%" />
      </div>
      <div class="col-12 col-md-5 order-md-1 p-3">
        <h2 class="heading-2 my-2">顧客管理</h2>
        <p>
          お客さまの情報や取引履歴を直感的に管理できます。<br>データの移行もすぐに行えます。<br>検索機能やカテゴリー分けが可能です。
        </p>
        <ul class="text-muted">
          <li>・メルマガ配信</li>
          <li>・インポート</li>
          <li>・エクスポート</li>
        </ul>
      </div>
    </div>
  </div>
</div>