{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-aboutlayout{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<div class="taxonomy-hero strip-primary">
  <div class="container py-3">
    <div class="row">
      <div class="col align-self-center">
        {{ partial "breadcrumb" . }}
        <h1 class="text-white">{{ .Params.heroHeading }}</h1>
        <p class="text-white mb-0">{{ .Params.heroSubHeading }}</p>
        <p><a class="btn button-round btn-outline-light mt-2"
          href="https://app.kinchaku.com/signup" title="kinchaku.com">無料で試してみる</a></p>
      </div>
    </div>
  </div>
</div>

{{ .Render "content" }}
{{ partial "cta-section.html" . }}
{{ end }}