{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-services-single{{ end }}
{{ define "header_classes" }}{{ end }}
{{ define "meta_tags" }}
<meta name="robots" content="index, follow" />
<meta name="description" content="{{ .Params.Description }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ .Params.heroBackground | absURL }}" />
<meta property="og:description" content="{{ .Params.Description }}" />

{{ with.Site.Params.googlever.id }}
<meta name="google-site-verification" content="{{ . }}" />
{{ end }}

{{ with.Site.Params.facebook.appid }}
<meta property="fb:app_id" content="{{ . }}" />
{{ end }}

{{ with.Site.Language }}
<meta property="og:locale" content="{{ .Lang }}" />
{{ end }}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@dbsparkle" />
<meta name="twitter:title" content="{{ .Params.heroHeading }}" />
<meta name="twitter:description" content="{{ .Params.Description }}" />
<meta name="twitter:image" content="{{ .Params.heroBackground | absURL }}" />
{{ $dateFormat := default "yyyy-MM-dd" (index .Site.Params "date_format") }}
{{ end }}
{{ define "main" }}
<div class="taxonomy-hero strip-primary">
  <div class="container py-3">
    <div class="row">
      <div class="col align-self-center">
        <h1 class="text-white">{{ .Params.heroHeading }}</h1>
        <p class="text-white mb-0">{{ .Params.heroSubHeading }}</p>
      </div>
    </div>
  </div>
</div>
<div class="container py-4">
  <div class="row justify-content-center md-auto">
    <div class="col-12 col-md-10">
      <div class="service service-single">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</div>
{{ partial "cta-section.html" . }}
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}
{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
{{ end }}
{{ end }}