<div id="tayori-form">
    <form id="contact-us-jp" action="https://tayori.com/form_html/eaf8bc113850bb4280193372112d4177274c056f"
        method="post" enctype="multipart/form-data">
        <div class="parts-error-message"></div>
        <div class="form-parts mb-2" id="2e899595bb0068f6a962d2ccd535e659ba9fa38c">
            <div class="form-row">
                <div class="col">
                    <label for="a443f2eeac594cbbcbb39931fcca25584474da16">姓</label>
                    <input type="text" id="a443f2eeac594cbbcbb39931fcca25584474da16"
                        name="form_answers[parts][2e899595bb0068f6a962d2ccd535e659ba9fa38c][a443f2eeac594cbbcbb39931fcca25584474da16]"
                        placeholder="姓" class="form-control" />
                    <div class="error-message"></div>
                </div>
                <div class="col">
                    <label for="b0e32049a366ce93ea0e7b1631aed18a8134d38d">名</label>
                    <input type="text" id="b0e32049a366ce93ea0e7b1631aed18a8134d38d"
                        name="form_answers[parts][2e899595bb0068f6a962d2ccd535e659ba9fa38c][b0e32049a366ce93ea0e7b1631aed18a8134d38d]"
                        placeholder="名" class="form-control" />
                    <div class="error-message"></div>
                </div>
            </div>
        </div>
        <div class="form-parts mb-2" id="3943dfb4c58f0719b245543a463e79b2f26cfaf0">
            <div class="form-row">
                <div class="col">
                    <label for="8296fda0354d8629756d35402cdf7ca857a7c61c">会社名</label>
                    <input type="text" id="8296fda0354d8629756d35402cdf7ca857a7c61c"
                        name="form_answers[parts][3943dfb4c58f0719b245543a463e79b2f26cfaf0][8296fda0354d8629756d35402cdf7ca857a7c61c]"
                        placeholder="会社名を入力してください" class="form-control" />
                    <div class="error-message"></div>
                </div>
            </div>
        </div>
        <div class="form-parts mb-2" id="89bd90c3770b1bfa1a0bbebf691c450225d648c3">
            <div class="form-row">
                <div class="col">
                    <label for="81521464ab26371d31106118cf78cc1448716bd6">メールアドレス</label>
                    <input type="email" id="81521464ab26371d31106118cf78cc1448716bd6"
                        name="form_answers[parts][89bd90c3770b1bfa1a0bbebf691c450225d648c3][81521464ab26371d31106118cf78cc1448716bd6]"
                        placeholder="メールアドレスを入力してください" class="form-control" />
                    <div class="error-message"></div>
                </div>
                <div class="col form-parts" id="1ea929c33b8e13706582366cf0935226f85d4c33">
                    <label for="db22446825af925432c8bdf6129d945bd05fddb6">お問い合わせ内容</label>
                    <select id="db22446825af925432c8bdf6129d945bd05fddb6" class="form-control"
                        name="form_answers[parts][1ea929c33b8e13706582366cf0935226f85d4c33][db22446825af925432c8bdf6129d945bd05fddb6]">
                        <option value="KINCHAKU利用方法について">
                            KINCHAKU利用方法について
                        </option>
                        <option value="広報・取材等について">
                            広報・取材等について
                        </option>
                        <option value="パートナーに関するご相談について">
                            パートナーに関するご相談について
                        </option>
                        <option value="お客様への提案に関するお問い合わせ">
                            お客様への提案に関するお問い合わせ
                        </option>
                    </select>
                    <div class="error-message"></div>
                </div>
            </div>
        </div>
        <div class="form-parts" id="154add0dab22aef0462de8037db80b5ab4ad1f64">
            <div class="form-row">
                <div class="col">
                    <label for="7a506616054b71f09cd2d1a2ab2cb9a6eefe6f9d">内容</label>
                    <textarea id="7a506616054b71f09cd2d1a2ab2cb9a6eefe6f9d" class="form-control"
                        name="form_answers[parts][154add0dab22aef0462de8037db80b5ab4ad1f64][7a506616054b71f09cd2d1a2ab2cb9a6eefe6f9d]"
                        placeholder="例）今日から使うことはできますか？"></textarea>
                    <div class="error-message"></div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col">
                <div class="float-right">
                    <button class="btn submit btn-primary" type="button">送信</button>
                </div>
            </div>
        </div>
    </form>
    <script>
        (function (t, a, y, o, r, i) { r = a.createElement(y), i = a.getElementsByTagName(y)[0]; r.type = 'text/javascript'; r.async = 1; r.src = 'https://tayori.com/form_html/eaf8bc113850bb4280193372112d4177274c056f/tag.js'; r.id = 'tayori-tag'; i.parentNode.insertBefore(r, i) })(window, document, 'script');
    </script>
</div>