<div id="tayori-form" class="form">
    <form action="https://tayori.com/form_html/eaf8bc113850bb4280193372112d4177274c056f" method="post"
        enctype="multipart/form-data">
        <div class="parts-error-message"></div>
        <div class="form-parts" id="a33b5af1915f76e542fc37f7b9bdec17f0bc1899">
            <div>
                お名前
            </div>
            <div>
                <div>
                    <input type="text" id="dc2565ff804643103a1e60e565109177f288a199"
                        name="form_answers[parts][a33b5af1915f76e542fc37f7b9bdec17f0bc1899][dc2565ff804643103a1e60e565109177f288a199]"
                        placeholder="姓" />
                    <div class="error-message"></div>
                </div>
                <div>
                    <input type="text" id="45bc98e69767da22b4eda7e17eb5bf713e543172"
                        name="form_answers[parts][a33b5af1915f76e542fc37f7b9bdec17f0bc1899][45bc98e69767da22b4eda7e17eb5bf713e543172]"
                        placeholder="名" />
                    <div class="error-message"></div>
                </div>
            </div>
        </div>
        <div class="form-parts" id="98c4c4255057ad8820cdcef8b2160b553791016b">
            <div>
                会社名
            </div>
            <div>
                <input type="text" id="3411f31aefbcf2ee49f254d3edf49fca4fe53084"
                    name="form_answers[parts][98c4c4255057ad8820cdcef8b2160b553791016b][3411f31aefbcf2ee49f254d3edf49fca4fe53084]"
                    placeholder="会社名を入力してください" />
                <div class="error-message"></div>
            </div>
        </div>
        <div class="form-parts" id="a4816786fb6ec77588b1accbd535dca5cabc5f3a">
            <div>
                メールアドレス
            </div>
            <div>
                <input type="email" id="56076805187d6b1c99eaa6d64aa89b9d8a87e733"
                    name="form_answers[parts][a4816786fb6ec77588b1accbd535dca5cabc5f3a][56076805187d6b1c99eaa6d64aa89b9d8a87e733]"
                    placeholder="メールアドレスを入力してください" />
                <div class="error-message"></div>
            </div>
        </div>
        <div class="form-parts" id="adf4d6872c1d9b57bcc9489701a22595e1692b91">
            <div>
                単一選択（プルダウンリスト）
            </div>
            <div>
                <select id="d23debff107ca081859aab18f5fe8b9f73bef95e"
                    name="form_answers[parts][adf4d6872c1d9b57bcc9489701a22595e1692b91][d23debff107ca081859aab18f5fe8b9f73bef95e]">
                    <option value="KINCHAKU利用方法について">
                        KINCHAKU利用方法について
                    </option>
                    <option value="広報・取材等について">
                        広報・取材等について
                    </option>
                    <option value="パートナーに関するご相談について">
                        パートナーに関するご相談について
                    </option>
                    <option value="お客様への提案に関するお問い合わせ">
                        お客様への提案に関するお問い合わせ
                    </option>
                </select>
                <div class="error-message"></div>
            </div>
        </div>
        <div class="form-parts" id="214e355307868d40541bb1458a486d4ef0e5944d">
            <div>
                内容
            </div>
            <div>
                <textarea id="d48d6ceeb46590dcfbe8f592e8c52a962bc6b820"
                    name="form_answers[parts][214e355307868d40541bb1458a486d4ef0e5944d][d48d6ceeb46590dcfbe8f592e8c52a962bc6b820]"
                    placeholder="設問の回答を入力してください"></textarea>
                <div class="error-message"></div>
            </div>
        </div>
        <div>
            <button class="submit" type="button">送信</button>
        </div>
    </form>
    <script>
        (function (t, a, y, o, r, i) { r = a.createElement(y), i = a.getElementsByTagName(y)[0]; r.type = 'text/javascript'; r.async = 1; r.src = 'https://tayori.com/form_html/eaf8bc113850bb4280193372112d4177274c056f/tag.js'; r.id = 'tayori-tag'; i.parentNode.insertBefore(r, i) })(window, document, 'script');
    </script>
</div>