<div id="tayori-form">
    <form id="contact-us-jp" action="https://tayori.com/form_html/eaf8bc113850bb4280193372112d4177274c056f" method="post" enctype="multipart/form-data">
        <div class="parts-error-message"></div>
        <div class="form-parts mb-2" id="b7fe9058bbe4c7ee17ea2dbc49ef3e622a62ceff">
            <div class="form-row">
                <div class="col">
                    <label for="0e43f8136841a66ed4b08e39e3b702a7d3dfbe9e">お名前 <span style="color:red">&#42;</span></label>
                    <input type="text" id="0e43f8136841a66ed4b08e39e3b702a7d3dfbe9e" name="form_answers[parts][b7fe9058bbe4c7ee17ea2dbc49ef3e622a62ceff][0e43f8136841a66ed4b08e39e3b702a7d3dfbe9e]" placeholder="姓" class="form-control" />
                    <div class="error-message"></div>
                </div>
                <div class="col">
                    <label for="73ed64569ef7658d4f9cca3b8f048c7ecb262504">　</label>
                    <input type="text" id="73ed64569ef7658d4f9cca3b8f048c7ecb262504" name="form_answers[parts][b7fe9058bbe4c7ee17ea2dbc49ef3e622a62ceff][73ed64569ef7658d4f9cca3b8f048c7ecb262504]" placeholder="名" class="form-control" />
                    <div class="error-message"></div>
                </div>
            </div>
        </div>
        <div class="form-parts mb-2" id="3a4337ac70eff17492d773e94cd04ce8ac5b62d8">
            <div class="form-row">
                <div class="col">
                    <label for="971891554ec18a10fac7fdd74be6cc357b1a41d6">会社名 <span style="color:red">&#42;</span></label>
                    <input type="text" id="971891554ec18a10fac7fdd74be6cc357b1a41d6" name="form_answers[parts][3a4337ac70eff17492d773e94cd04ce8ac5b62d8][971891554ec18a10fac7fdd74be6cc357b1a41d6]" placeholder="会社名を入力してください" class="form-control" />
                    <div class="error-message"></div>
                </div>
            </div>
        </div>
        <div class="form-parts mb-2" id="c48686bc2ff1e7489a21349b7ac78c48a124be9f">
            <div class="form-row">
                <div class="col">
                    <label for="d5900de7122999896ffbc55d7b01aa0dd2417a96">メールアドレス <span style="color:red">&#42;</span></label>
                    <input type="email" id="d5900de7122999896ffbc55d7b01aa0dd2417a96" name="form_answers[parts][c48686bc2ff1e7489a21349b7ac78c48a124be9f][d5900de7122999896ffbc55d7b01aa0dd2417a96]" placeholder="メールアドレスを入力してください" class="form-control" />
                    <div class="error-message"></div>
                </div>
            </div>
        </div>
        <div class="form-parts mb-2" id="7fea3ed5495cc5b7c6fc5ac89d7af552d2001b4d">
        <div class="mb-1">
            お問い合わせの種類 <span style="color:red">&#42;</span>
        </div>
        <div>
            <div>
            <input type="radio" id="268272c4244c40181c17f690841ca9f54824dd3b" name="form_answers[parts][7fea3ed5495cc5b7c6fc5ac89d7af552d2001b4d][268272c4244c40181c17f690841ca9f54824dd3b]" value="料金・プランなど導入について" /><label for="268272c4244c40181c17f690841ca9f54824dd3b">料金・プランなど導入について</label>
            </div>
            <div>
            <input type="radio" id="35b7adaf48c67d97736880973ef706f874827ef2" name="form_answers[parts][7fea3ed5495cc5b7c6fc5ac89d7af552d2001b4d][268272c4244c40181c17f690841ca9f54824dd3b]" value="店舗集客（マーケティング）の相談" /><label for="35b7adaf48c67d97736880973ef706f874827ef2">店舗集客（マーケティング）の相談</label>
            </div>
            <div>
            <input type="radio" id="5183f8b2c89b8a5da8af61a85f2dbb1505f0ff62" name="form_answers[parts][7fea3ed5495cc5b7c6fc5ac89d7af552d2001b4d][268272c4244c40181c17f690841ca9f54824dd3b]" value="KINCHAKU利用方法について" /><label for="5183f8b2c89b8a5da8af61a85f2dbb1505f0ff62">KINCHAKU利用方法について</label>
            </div>
            <div>
            <input type="radio" id="3d6056c6c88929c4528b9dd6741f1cd39d7dc566" name="form_answers[parts][7fea3ed5495cc5b7c6fc5ac89d7af552d2001b4d][268272c4244c40181c17f690841ca9f54824dd3b]" value="その他" /><label for="3d6056c6c88929c4528b9dd6741f1cd39d7dc566">その他</label>
            </div>
            <div class="error-message"></div>
        </div>
        </div>
        <div class="form-parts mb-2" id="8383870495c852a92416fc8bd2b51dc81833a0b7">
            <div class="form-row">
                <div class="col">
                    <label for="5133f2d78890782e7b9258bb77a3d13857947003">お問い合わせ内容 <span style="color:red">&#42;</span></label>
                    <textarea id="5133f2d78890782e7b9258bb77a3d13857947003" class="form-control" name="form_answers[parts][8383870495c852a92416fc8bd2b51dc81833a0b7][5133f2d78890782e7b9258bb77a3d13857947003]" placeholder="例）今日から使うことはできますか？"></textarea>
                    <div class="error-message"></div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col">
                <div class="float-right">
                    <button class="btn submit btn-primary" type="button">送信</button>
                </div>
            </div>
        </div>
    </form>
    <script>
        (function(t,a,y,o,r,i){r=a.createElement(y),i=a.getElementsByTagName(y)[0];r.type='text/javascript';r.async=1;r.src='https://tayori.com/form_html/eaf8bc113850bb4280193372112d4177274c056f/tag.js';r.id='tayori-tag';i.parentNode.insertBefore(r,i)})(window,document,'script');
    </script>
</div>