<section class="cta">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 offset-md-4 col-xs-10 offset-xs-1">
                <p class="cta__text">ご相談やご質問もお気軽に！</p>
                <a href="#" class="cta__btn" title="早速、無料で試してみる">
                    <img class="img-fluid"
                        src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/cta-btn-1.png"
                        alt="早速、無料で試してみる" />
                </a>
            </div>
        </div>
    </div>
</section>