<div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-12 col-md-2">
          {{ partial "social" }}
        </div>
        <div class="col-12 col-md-10">
          <div class="row mb-2 pl-1 pr-1">
            {{ if .Site.Params.footer_menus1 }}
            <div class="col-6 col-md-3">
              {{ $menus := .Site.Menus }}
              {{ range $index, $menu := .Site.Params.footer_menus1 }}
              <div>
                {{ partial "menu-links" (dict "menu" (index $menus $menu.menu) "name" $menu.name ) }}
              </div>
              {{ end }}
            </div>
            {{ end }}
            {{ if .Site.Params.footer_menus2 }}
            <div class="col-6 col-md-3">
              {{ $menus := .Site.Menus }}
              {{ range $index, $menu := .Site.Params.footer_menus2 }}
              <div>
                {{ partial "menu-links" (dict "menu" (index $menus $menu.menu) "name" $menu.name ) }}
              </div>
              {{ end }}
            </div>
            {{ end }}
            {{ if .Site.Params.footer_menus3 }}
            <div class="col-6 col-md-3">
              {{ $menus := .Site.Menus }}
              {{ range $index, $menu := .Site.Params.footer_menus3 }}
              <div>
                {{ partial "menu-links" (dict "menu" (index $menus $menu.menu) "name" $menu.name ) }}
              </div>
              {{ end }}
            </div>
            {{ end }}
            {{ if .Site.Params.footer_menus4 }}
            <div class="col-6 col-md-3">
              {{ $menus := .Site.Menus }}
              {{ range $index, $menu := .Site.Params.footer_menus4 }}
              <div>
                {{ partial "menu-links" (dict "menu" (index $menus $menu.menu) "name" $menu.name ) }}
              </div>
              {{ end }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
