<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <div>
            {{ partial "social" }}
          </div>
          {{ if .Site.Params.footer_menus }}
          {{ $menus := .Site.Menus }}
          {{ $colWidth := math.Floor (div 12 (len .Site.Params.footer_menus)) }}
          {{ range $index, $menu := .Site.Params.footer_menus }}
          <div>
            {{ partial "menu-links" (dict "menu" (index $menus $menu.menu) "name" $menu.name ) }}
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
