<header>
  <div class='header header-absolute'>
    <div class="container">
      <div class="logo">
        <a href="{{ "/" | absLangURL }}" title="{{ .Site.Title }}">
          <img alt="{{ .Site.Title }}" title="{{ .Site.Title }}"
            src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/logo.svg" />
        </a>
      </div>
      <div class="logo-mobile">
        <a href="{{ "/" | absLangURL }}" title="{{ .Site.Title }}">
          <img alt="{{ .Site.Title }}" title="{{ .Site.Title }}"
            src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/logo-mobile.svg" />
        </a>
      </div>
      {{ partial "main-menu.html" . }}
      {{ partial "hamburger.html" . }}
    </div>
    <div class="mr-5">
      <a href="https://app.kinchaku.com/signup" class="btn btn-primary text-white p-1 d-none d-md-block" role="button" title="アカウント登録">アカウント登録</a>
    </div>
  </div>
</header>