<div class="hero-image hero-image-fullscreen" style="background-image: url('{{ .background | relURL }}');">
  <div class="container">
    <div class="hero-text">
      <span class="hero-section">{{ .section }}</span>
      <h1>{{ .heading }}</h1>
      <p>{{ .subheading }}</p>
      <p class="text-center text-md-left mt-5"><a class="btn btn-primary button-round btn-lg mb-0"
          href="https://app.kinchaku.com/signup" title="{{ .Params.heroSubHeading }}">無料で今すぐ試す</a></p>
    </div>
  </div>
</div>
{{ .Site.BaseURL }}