<div class="hero-image hero-image-fullscreen">
  <div class="container">
    <div class="hero-text">
      <span class="hero-section">{{ .section }}</span>
      <h1 class="text-center text-white">{{ .heading }}</h1>
      <h2 class="text-center text-white h3">{{ .subheading }}</h2>
      <p class="text-center mt-5">
        <a class="btn btn-primary button-round btn-lg mb-0 px-9 py-1"
          href="https://app.kinchaku.com/signup" title="{{ .btn }}">{{ .btn }}
        </a>
      </p>
    </div>
  </div>
</div>
{{ .Site.BaseURL }}
