{{ define "meta_tags" }}

<link rel="apple-touch-icon-precomposed" sizes="57x57"
  href="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/favicon/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114"
  href="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72"
  href="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144"
  href="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60"
  href="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/favicon/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120"
  href="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/favicon/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76"
  href="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/favicon/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152"
  href="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/favicon/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png"
  href="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/favicon/favicon-196x196.png"
  sizes="196x196" />
<link rel="icon" type="image/png"
  href="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/favicon/favicon-96x96.png"
  sizes="96x96" />
<link rel="icon" type="image/png"
  href="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/favicon/favicon-32x32.png"
  sizes="32x32" />
<link rel="icon" type="image/png"
  href="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/favicon/favicon-16x16.png"
  sizes="16x16" />
<link rel="icon" type="image/png"
  href="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/favicon/favicon-128.png"
  sizes="128x128" />
<meta name="application-name" content="KINCHAKU" />
<meta name="msapplication-TileColor" content="#303F9F" />
<meta name="msapplication-TileImage"
  content="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/favicon/mstile-144x144.png" />
<meta name="msapplication-square70x70logo"
  content="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/favicon/mstile-70x70.png" />
<meta name="msapplication-square150x150logo"
  content="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/favicon/mstile-150x150.png" />
<meta name="msapplication-square310x310logo"
  content="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/favicon/mstile-310x310.png" />
{{ with .Site.Language }}
<meta property="og:locale" content="{{ .Lang }}" />{{ end }}
{{ if .IsHome }}
{{ with .Site.Params.homepage_meta_tags.meta_description }}
<meta name="description" content="{{ . }}">{{ end }}
{{ else }}
{{ if .Params.Description }}
<meta name="description" content="{{ .Params.Description }}">
{{ else }}
<meta name="description" content="{{ .Summary }}">{{ end }}
{{ end }}
{{ with .Site.Params.googlever.id }}
<meta name="google-site-verification" content="{{ . }}" />{{ end }}
{{ with .Site.Params.msver.id }}
<meta name="msvalidate.01" content="{{ . }}" />{{ end }}
{{ with .Site.Params.facebook.appid }}
<meta property="fb:app_id" content="{{ . }}" />{{ end }}
{{ end }}
{{ if .IsHome }}{{ partial "jsonld/website" . }}{{ end }}
{{ if eq .Params.Slug "pricing" }}{{ partial "jsonld/webapplication" . }}{{ end }}
{{ if .IsPage }}
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ .Params.heroBackground | absURL }}" />
<meta property="og:description" content="{{ .Params.Description }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@dbsparkle" />
<meta name="twitter:title" content="{{ .Params.heroHeading }}" />
<meta name="twitter:description" content="{{ .Params.Description }}" />
<meta name="twitter:image" content="{{ .Params.heroBackground | absURL }}" />
{{ $dateFormat := default "yyyy-MM-dd" (index .Site.Params "date_format") }}
{{ else }}
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
{{ end }}
{{ block "meta_tags" . }}{{ end }}
