<ul id="social" class="social mb-3">
  <li>
    <a class="social-facebook" title="Facebook" alt="Facebook" href="https://www.facebook.com/kinchaku/"
      target="blank">&nbsp;</a>
  </li>
  <li>
    <a class="social-instagram" title="Instagram" alt="Instagram" href="https://www.instagram.com/kinchaku.fukuoka/"
      target="blank">&nbsp;</a>
  </li>
  <li>
    <a class="social-twitter" title="Twitter" alt="Twitter" href="https://twitter.com/KINCHAKU_BI/"
      target="blank">&nbsp;</a>
  </li>
</ul>
<a class="ml-2 d-none d-sm-block" href="https://www.truste.or.jp/hssl/validate/01506.php" rel="nofollow noopener"
  target="_blank" title="TRUSTe">
  <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/TRUSTe-jp.gif"
    alt="TRUSTe" height="24" />
</a>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "KINCHAKU INC.",
    "url": "http://kinchaku.com",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.Params.smlogo.url }}",
      "width": "{{ .Site.Params.smlogo.width }}",
      "height": "{{ .Site.Params.smlogo.height }}"
    },
    "sameAs": [
      "https://www.facebook.com/kinchaku/"
    ]
  }

</script>
