<ul id="social" class="social py-1">
  <li>{{ .Site.Data.social.twitter }} {{ .Site.Data.jafeatures }}
    <a class="social-twitter" title="Twitter" alt="Twitter" href="https://twitter.com/KINCHAKU_BI"
      target="blank">&nbsp;</a>
  </li>
  <li>
    <a class="social-facebook" title="Facebook" alt="Facebook" href="https://www.facebook.com/kinchaku/"
      target="blank">&nbsp;</a>
  </li>
  <li>
    <a class="social-instagram" title="Instagram" alt="Instagram" href="https://www.instagram.com/kinchaku_bi/"
      target="blank">&nbsp;</a>
  </li>
  <li>
    <a class="social-slack" title="Slack" alt="Slack"
      href="https://join.slack.com/t/kinchaku/shared_invite/enQtODExMjAwODQzMDI1LTRlYzE5MjVmZGZmYTE0Nzg0MDYwY2ZkNDdhN2Y1NmJmYzI5NWVlYTRkYTgyNTY5NDA5MzI0YzA0ODM1YmM5ZDI"
      target="blank">&nbsp;</a>
  </li>
</ul>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "SETE MARES",
    "url": "http://setemares.co",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.Params.smlogo.url }}",
      "width": "{{ .Site.Params.smlogo.width }}",
      "height": "{{ .Site.Params.smlogo.height }}"
    },
    "sameAs": [
      "https://www.facebook.com/kinchaku/",
      "https://twitter.com/KINCHAKU_BI"
    ]
  }

</script>