<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-5 col-md-5 py-1">
        {{ partial "language-selector" . }}
      </div>
      <div class="col-2 col-md-2 text-center">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <a href="#">
          <span class="material-icons text-white" style="font-size:50px;">keyboard_arrow_up</span>
        </a>
      </div>
      <div class="col-5 col-md-5 py-1">
        <div class="text-sm-right text-md-right">
          <span class="copyright text-light">© KINCHAKU</span>
        </div>
      </div>
    </div>
  </div>
</div>
