<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-8">
        {{ partial "language-selector" . }}
        <a class="ml-2" href="https://www.truste.or.jp/hssl/validate/01506.php" rel="nofollow noopener" target="_blank"
          title="TRUSTe">
          <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/TRUSTe-jp.gif"
            alt="TRUSTe" height="24" />
        </a>
      </div>
      <div class="col-4">
        <div class="text-right">
          <span class="copyright text-light">© KINCHAKU</span>
        </div>
      </div>
    </div>
  </div>
</div>