<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-4 col-md-4 py-1">
        {{ partial "language-selector" . }}
        <a class="ml-2" href="https://www.truste.or.jp/hssl/validate/01506.php" rel="nofollow noopener" target="_blank"
          title="TRUSTe">
          <img src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/TRUSTe-jp.gif"
            alt="TRUSTe" height="24" />
        </a>
      </div>
      <div class="col-4 col-md-4 text-center">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <a href="#">
          <span class="material-icons text-white" style="font-size:50px;">keyboard_arrow_up</span>
        </a>
      </div>
      <div class="col-4 col-md-4 py-1">
        <div class="text-sm-center text-md-right">
          <span class="copyright text-light">© KINCHAKU</span>
        </div>
      </div>
    </div>
  </div>
</div>
