{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-walletpass-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<div class="taxonomy-hero strip-primary">
  <div class="container py-3">
    <div class="row">
      <div class="col align-self-center">
        <h1 class="text-white">{{ .Params.heroHeading }}</h1>
        <p class="text-white">{{ .Params.heroSubHeading }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="heading-2 my-5 text-center">
        <span class="heading-2--block">KINCHAKUで</span>
        <span class="heading-2--block">発行できるパスの種類</span>
      </h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {{ range .Site.Data.jawalletpasses }}
    {{ if .featured }}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <h3 class="h4 text-primary mb-1 text-center"><a href="{{ .url }}" title="{{ .title }}">{{ .title }}</a></h3>
      <a href="{{ .url }}" title="{{ .title }}" class="link-img">
        <img class="img-fluid" src="{{ .img }}" alt="{{ .title }}" title="{{ .title }}" width="100%" />
      </a>
      <div class="mt-2 mb-3 text-center">
        {{ .description }}
      </div>
    </div>
    {{end}}
    {{end}}
  </div>
</div>


<div class="container mt-1 pt-1 pt-xs-1">
  <div class="row mb-3">
    <div class="col-12">
      <div class="page-intro border border-dark rounded mb-3 p-3">
        <p><b>WALLET PASS （ウォレットパス）とは</b></p>
        <p>
          iPhoneやiWatchに<a href="https://support.apple.com/ja-jp/HT204003" target="_blank" rel="noopener noreferrer" title="iPhone、Apple WatchでWalletを使う方法">Wallet（ウォレット）</a>、Androidの場合<a href="https://pay.google.com/intl/ja_jp/about/" target="_blank" rel="noopener noreferrer" title="Google Pay">Google Pay</a>という標準アプリがあります。
        </p>
        <p>
          ウォレットアプリの中に追加できるクーポン、スタンプカード、ポイントカード、搭乗券、入場券や会員証などのことを<strong>「ウォレットパス」</strong>といいます。
        </p>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <h2>WALLET PASS （ウォレットパス）を使う3つのメリット</h2>
      <ul>
        <li>1. 紛失や使い忘れをなくし、リピーター獲得に繋がります</li><br />
        <li>2. スマホ搭載の標準アプリを使うため無料で始められます</li><br />
        <li>3. スマホに通知を送り、お客さまとのコミュニケーションが可能です</li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-3 pt-1 pt-xs-1">
  <h2 class="py-3 text-center text-primary">KINCHAKUで発行できるウォレットパスの特長</h2>
  <div class="row">
    <div class="col-12 col-md-5">
      <h3 class="mt-3">スマホ画面への通知配信</h3>
      <ul style="list-style-type: disc; padding-left: 20px;">
        <li class="mb-1">スマホにリアルタイムの情報を発信し、お客さまの来店や再来店を促進できます。</li>
        <li class="mb-1">サービスに最適な時間帯などにパス通知を配信予約できます。</li>
        <li class="mb-1">店舗やイベント会場の場所を設定し、広範囲で通知を配信できます。</li>
        <li class="mb-1">ビーコン端末を設置した店舗やイベント会場では近距離通知を配信できます。</li>
      </ul>
    </div>
    <div class="col-12 col-md-7">
      <img class="img-fluid" src="https://s3-ap-northeast-1.amazonaws.com/kinchaku-static-site/uploads/lockscreen.png"
        alt="ロック画面に表示できる通知" title="ロック画面に表示できる通知" />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3 class="mt-3">ウォレットパス発行から分析までがワンストップ</h3>
      <img class="img-fluid my-3"
        src="https://s3-ap-northeast-1.amazonaws.com/kinchaku-static-site/uploads/pass-data.png" alt="パスデータ"
        title="パスデータ" />
      <ul style="list-style-type: disc; padding-left: 20px;" class="mb-3">
        <li class="mb-1">感覚的に使えるダッシュボードで、利用状況を見える化し、どの販促行動が効果的かを測ることができます。</li>
        <li class="mb-1">顧客をセグメント化し、商品・サービスのアプローチを改善できます。</li>
        <li class="mb-1">メルマガ・DM などでもお客さまとの関係構築の強化を期待できます。</li>
      </ul>
    </div>
  </div>
</div>

<div class="container pb-6 pb-md-6">
  <div class="row my-3">
    <div class="col-12 col-sm-12">
      <div class="card border-danger mt-3">
        <div class="card-body">
          <div class="media">
            <a href="https://walletpass.jp/" target="_blank" rel="noopener noreferrer" title="WALLETPASS公式サイト">
              <img
                src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/walletpass-logo-square%402x.png"
                class="align-self-center mr-3" alt="WALLETPASS.JP" width="90">
            </a>
            <div class="media-body">
              <h5 class="mt-0"><a href="https://walletpass.jp/" target="_blank" rel="noopener noreferrer" title="WALLETPASS公式サイト">WALLETPASS.JP</a></h5>
              <p>自社ブランドのウォレットパスを発行するために、自社システムと簡単に連携できるAPIサービスも提供しています。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ partial "cta-section.html" . }}
{{ end }}