.page-blog-list .blog-image-crop {
    overflow: hidden;
    height: 280px;
    background-position: center;
    background-size: cover;
}

.page-blog-list .blog-image-crop img {
    margin-top: -12%;
}

.page-blog-list .blog-image-crop img:hover {
    opacity: 0.7;
    background-color: white;
}

@media screen and (max-width:600px) {
    .page-blog-list .blog-image-crop {
        height: auto;
    }

    .page-blog-list .blog-list-title {
        font-size: 1.05em !important;
        line-height: 1.35em !important;
    }
}