{{ define "title" }}KINCHAKU | 継続利用を促進するクラウドプラットフォーム{{ end }}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "main" }}

{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "btn" .Params.btn "content" .) }}

{{ $headless := .Site.GetPage "/homepage" }}
{{ $reusablePages := $headless.Resources.ByType "page" }}
{{ $reusablePages := sort $reusablePages ".Params.weight" }}
{{ range first 1 $reusablePages }}
<div id="home">
  <div class="container my-5">
    <div class="row">
      <div class="col-12">
        <h2 class="heading-2 text-center">
          <span class="heading-2--block">KINCHAKUは、</span>
          <span class="heading-2--block">店舗マーケティングに特化したクラウドサービスです。</span>
        </h2>
      </div>
    </div>
  </div>
  <section>
    <div class="container my-5">
      <div class="row">
        <div class="col-12 col-md-8">
          <h3>新しいお店の集客スタイル</h3>
          <p>独自アプリに依存しない、ウォレットパスの発行とチケットや回数券​の販売が可能です。</p>
          <p>
            スマホに送れるパス通知を通じて顧客と繋がり、分析を繰り返しながら、顧客に喜ばれるコミュニケーションで、エンゲージメントを上げ、ロイヤルカスタマーになる集客が可能になります。
          </p>
        </div>
        <div class="col-12 col-md-4">
          <img class="img-fluid ml-md-6"
            src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/walletpass-newlp2.png"
            alt="walletpass" />
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container my-5">
      <div class="row">
        <div class="col-12 col-md-8">
          <h3>手軽に使える販促ツール</h3>
          <p>
            SNS、メール、自社サイト、QRコードで共有可能なクーポン・ギフトカード・ポイントカード・スタンプカードを直感的な操作で作成できる管理画面を用意しています。
          </p>
          <p>
            お店の業務を電子化してコストを削減＆業務簡略化できます。
          </p>
        </div>
        <div class="col-12 col-md-4">
          <img class="img-fluid ml-md-6"
            src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/tool-newlp.png"
            alt="手軽に使える販促ツール" />
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container my-5">
      <div class="row">
        <div class="col-12">
          <h2 class="heading-2 text-center">KINCHAKUの特長</h2>
        </div>
        <div class="col-12 col-md-4 text-center">
          <span class="material-icons text-muted" style="font-size: 80px;">account_circle</span>
          <h3 class="text-primary">店舗集客</h3>
          <p>幅広いパスの配布方法を駆使して<br>新規顧客リピーターの獲得を実現</p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <span class="material-icons text-muted" style="font-size: 80px;">laptop_mac</span>
          <h3 class="text-primary">顧客管理</h3>
          <p>リピーター育成に必要な顧客データを<br>安全かつ効率的に管理＆分析</p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <span class="material-icons text-muted" style="font-size: 80px;">insights</span>
          <h3 class="text-primary">利用データ分析</h3>
          <p>スマホからも見やすい管理画面で<br>顧客の来店頻度や利用状況も一目で確認</p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <span class="material-icons text-muted" style="font-size: 80px;">timelapse</span>
          <h3 class="text-primary">簡単かつ低コスト</h3>
          <p>アプリ開発費や印刷費等を削減でき<br>アカウント登録後すぐに運用を開始</p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <span class="material-icons text-muted" style="font-size: 80px;">tap_and_play</span>
          <h3 class="text-primary">パス通知</h3>
          <p>位置情報や日時をトリガーにして<br>ターゲットや用途に合わせた通知を配信</p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <span class="material-icons text-muted" style="font-size: 80px;">qr_code_2</span>
          <h3 class="text-primary">ウォレット対応</h3>
          <p>標準アプリApple WalletとGoogle Payに<br>対応したパスなので顧客も手間要らず</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="heading-2 text-center">主な機能</h2>
        </div>
        <div class="container">
          <div class="row">
            {{ range .Site.Data.jawalletpasses }}
            {{ if .featured }}
            <div class="col-12 col-md-6 col-lg-4">
              <h3 class="h4 text-primary mb-1 text-center"><a href="{{ .url }}" title="{{ .title }}">{{ .title }}</a></h3>
              <a href="{{ .url }}" title="{{ .title }}" class="link-img">
                <img class="img-fluid" src="{{ .img }}" alt="{{ .title }}" title="{{ .title }}" width="100%" />
              </a>
              <div class="mt-2 mb-3 text-center">
                {{ .description }}
              </div>
            </div>
            {{end}}
            {{end}}
          </div>
        </div>
        <div class="col-12 text-center">
          <a href="/features/">その他のすべての機能を見る</a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container my-5">
      <div class="row">
        <div class="col-12">
          <h2 class="heading-2 text-center">業種に合わせた活用方法</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 mb-1">
          <a href="/usecase/restaurant/" class="link-img">
            <img
              src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/industry-restaurant.jpg"
              alt="飲食店" class="img-thumbnail">
          </a>
        </div>
        <div class="col-12 col-md-4 mb-1">
          <a href="/usecase/hotel/" class="link-img">
            <img
              src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/industry-hotel.jpg"
              alt="ホテル" class="img-thumbnail">
          </a>
        </div>
        <div class="col-12 col-md-4 mb-1">
          <a href="https://kinchaku.com/blog/usecase-fitness/" class="link-img">
            <img
              src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/industry-fitness.jpg"
              alt="ジム・フィットネス" class="img-thumbnail">
          </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container my-5">
      <div class="row">
        <div class="col-12">
          <h2 class="heading-2 text-center">お知らせ</h2>
        </div>
      </div>
      <div class="row">
        {{ range first 3 .Site.Taxonomies.tags.news }}
        {{ partial "news-list" . }}
        {{ end }}
      </div>
      <p class="text-center mt-1">
        <a class="btn btn-primary button-round btn-lg mb-0 px-9 py-1" href="/categories/お知らせ/" title="お知らせ一覧">お知らせ一覧
        </a>
      </p>
    </div>
  </section>

  <section>
    <div class="container my-8">
      <div class="row">
        <div class="col-12">
          <h2 class="heading-2 text-center">最新ブログ</h2>
        </div>
      </div>
      <div class="row justify-content-center page-blog-list mx-1">
        {{ range first 3 .Site.Taxonomies.tags.featured }}
        {{ partial "recent-posts" . }}
        {{ end }}
      </div>
    </div>
  </section>
</div>

{{ partial "cta-section.html" . }}

{{ end }}
{{ end }}

{{ define "footer_js" }}
{{ end }}
