{{ define "title" }}KINCHAKU | 継続利用を促進するクラウドプラットフォーム{{ end }}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "main" }}

{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .) }}

{{ $headless := .Site.GetPage "/homepage" }}
{{ $reusablePages := $headless.Resources.ByType "page" }}
{{ $reusablePages := sort $reusablePages ".Params.weight" }}
{{ range first 1 $reusablePages }}
<div id="home">
  <section>
    <div class="container my-5">
      <div class="row">
        <div class="col-12 col-md-8">
          <h2 class="heading-2">KINCHAKUがもたらす新しいお店の集客スタイル</h2>
          <p>独自アプリに依存しない、ウォレットパスの発行とチケットや回数券​の販売が可能。</p>
          <p>
            パス通知を通じて顧客と繋がり、顧客が嫌がらないコミュニケーションをとることでロイヤルカスタマーになる集客が可能になる。
          </p>
        </div>
        <div class="col-12 col-md-4">
          <img class="img-fluid ml-md-6"
            src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/walletpass-newlp.png" alt="walletpass" />
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container my-5">
      <div class="row">
        <div class="col-12 col-md-8">
          <h2 class="heading-2">手軽に使える販促ツール</h2>
          <p>
            SNS、メール、自社サイト、QRコードで共有可能なクーポン・ギフトカード・ポイントカード・スタンプカードを直感的な操作で作成できる。
          </p>
          <p>
            会員申請管理も一つのサービスで実現。お店の業務を電子化してコストを削減＆業務簡略化。
          </p>
        </div>
        <div class="col-12 col-md-4">
          <img class="img-fluid ml-md-6"
            src="" alt="手軽に使える販促ツール" />
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container my-5">
      <div class="row">
        <div class="col-12">
          <h2 class="heading-2 text-center">KINCHAKUの特徴</h2>
        </div>
        <div class="col-12 col-md-4 text-center">
          <span class="material-icons text-muted" style="font-size: 80px;">account_circle</span>
          <h3 class="text-primary">店舗集客</h3>
          <p>幅広いパスの配布方法を駆使して<br>新規顧客リピーターの獲得を実現</p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <span class="material-icons text-muted" style="font-size: 80px;">laptop_mac</span>
          <h3 class="text-primary">顧客管理</h3>
          <p>リピーター育成に必要な顧客データを<br>安全かつ効率的に管理＆分析</p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <span class="material-icons text-muted" style="font-size: 80px;">insights</span>
          <h3 class="text-primary">利用データ分析</h3>
          <p>スマホからも見やすい管理画面から<br>顧客の来店頻度や利用状況も一目で確認</p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <span class="material-icons text-muted" style="font-size: 80px;">timelapse</span>
          <h3 class="text-primary">簡単かつ低コスト</h3>
          <p>アプリ開発費や印刷費等を削減でき<br>アカウント登録後すぐに運用を開始</p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <span class="material-icons text-muted" style="font-size: 80px;">tap_and_play</span>
          <h3 class="text-primary">パス通知</h3>
          <p>位置情報や日時をトリガーにして<br>ターゲットや用途に合わせた通知を配信</p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <span class="material-icons text-muted" style="font-size: 80px;">qr_code_2</span>
          <h3 class="text-primary">ウォレット対応</h3>
          <p>標準アプリApple WalletとGoogle Payに<br>対応したパスなので顧客も手間要らず</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="heading-2 text-center">主な機能</h2>
        </div>
        <div class="card-deck m-2">
          <div class="card">
            <div class="card-body text-center">
              <h4 class="card-title">発 行</h4>
              <p class="card-text">デジタルパス発行</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body text-center">
              <h4 class="card-title">配 布</h4>
              <p class="card-text">多様な配布方法</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body text-center">
              <h4 class="card-title">消 込</h4>
              <p class="card-text">加盟店用スキャンアプリ</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body text-center">
              <h4 class="card-title">解 析</h4>
              <p class="card-text">顧客データ・利用データの可視化</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body text-center">
              <h4 class="card-title">発 信</h4>
              <p class="card-text">カスタム通知</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body text-center">
              <h4 class="card-title">安 心</h4>
              <p class="card-text">手厚いサポート</p>
            </div>
          </div>
        </div>
        <div class="col-12 text-center mt-2 my-0">
          <a href="/features/">全ての機能をみる</a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container my-5">
      <div class="row">
        <div class="col-12">
          <h2 class="heading-2 text-center">業種に合わせた活用方法</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <img
            src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/industry-restaurant.jpg"
            alt="飲食店" class="img-thumbnail">
        </div>
        <div class="col-12 col-md-4">
          <img
            src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/industry-learning.jpg"
            alt="習い事" class="img-thumbnail">
        </div>
        <div class="col-12 col-md-4">
          <img
            src="https://kinchaku-static-site.s3-ap-northeast-1.amazonaws.com/uploads/landing-theme/industry-fitness.jpg"
            alt="ジム・フィットネス" class="img-thumbnail">
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container my-5">
      <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-8 text-center">
          <h2>お知らせ</h2>
        </div>
      </div>
      <div class="row justify-content-center page-blog-list">
        <div class="card-deck mx-2">
          {{ range first 3 .Site.Taxonomies.tags.news }}
          {{ partial "news-list" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container my-5">
      <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-8 text-center">
          <h2>最新ブログ</h2>
        </div>
      </div>
      <div class="row justify-content-center page-blog-list mx-1">
        {{ range first 3 .Site.Taxonomies.tags.featured }}
        {{ partial "recent-posts" . }}
        {{ end }}
      </div>
    </div>
  </section>
</div>

{{ partial "cta-section.html" . }}

{{ end }}
{{ end }}

{{ define "footer_js" }}
{{ end }}
