{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-usecase-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="taxonomy-hero strip-primary">
  <div class="container py-3">
    <div class="row">
      <div class="col align-self-center">
        <h1 class="text-white">{{ .Params.heroHeading }}</h1>
        <p class="text-white">{{ .Params.heroSubHeading }}</p>
      </div>
    </div>
  </div>
</div>
{{ if .Content }}
<div class="container mt-3 pt-1 pt-xs-1">
  <div class="row mb-3">
    <div class="col-12">
      <div class="page-intro">
        {{ .Content }}
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ partial "cta-section.html" . }}
{{ end }}