{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 style="font-size: 1.5em;">{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      {{ .Content }}
      <hr />
      <div class="mt-4 mb-3 ">
        {{ $currentLang := .Site.Language.Lang }}
        {{ if eq $currentLang "ja" }}
        {{ partial "contact-form-jp" . }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
