.walletpass-summary {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.25rem;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;

  .walletpass-image {
    max-height: 400px;
    overflow: hidden;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .walletpass-content {
    flex: 1;
    padding: 10px;

    .walletpass-title {
      font-family: $font-family-heading;
      font-size: 1.5rem;
    }

    p {
      color: #666;
      font-size: 0.9rem;
    }
  }
}
